.LoggedInScreen {
    text-align: center;
    display: flex;
    flex-direction: column;
    background: rgb(44,37,165);
    background: linear-gradient(180deg, rgba(44,37,165,1) 0%, rgba(13,13,91,1) 42%, rgba(122,146,190,0.9830531699984681) 100%);
  }

  .Name{
      font-size: 50px;
      margin-left: 100px;
      font-family: 'Press Start 2P', cursive;
      color: white;
  }

  .welcomeName{
      font-size: 30px;
      border: solid white;
  }

  .LogOutB{
      float: right;
      margin-right: 10px;
      margin-top: 5px;
  }
  
  .subheader{
      color: white;
      justify-content: center;
      text-align: center;
  }

  .userWinnerMessage {
      border: solid yellow
  }

  .playAgain{
      margin-bottom: 20px;
  }

  .leaderBoard{
    margin-top: 20px;
    max-height: 300px;
    overflow-y: auto;
  }

  #sad{
      width: 20%;
      height: 20%
  }