.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

h3{
  margin-top: 0px;
}

.header{
  display: flex;
  flex-direction: column;
  flex: 5;
  justify-content: center;
  align-items: center;
  
}

.gameBody{
  text-align: center;
  display: flex;
  flex-direction: row;
  height: 78vh;
  width: 100vw;
  
}
.UserPlay{
  display: flex;
  flex-direction: column;
  flex: 5;
  justify-content: center;
  align-items: center;
  background-color: lightpink;
  opacity: 0.80;
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-left: 2vw;
  margin-right: 2vw;
  border-radius: 25px;
  outline: lightpink dotted 5px;
  outline-offset: 1.5vh;
}

.GamePlay{
  display: flex;
  flex-direction: column;
  flex: 3;
  align-items: center;
  justify-content: center;
} 

.CompPlay{
  display: flex;
  flex-direction: column;
  flex: 5;
  justify-content: center;
  align-items: center;
  background-color:lightpink;
  opacity: 0.80;
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-left: 2vw;
  margin-right: 2vw;
  border-radius: 25px;
  outline: lightpink dotted 5px;
  outline-offset: 1.5vh;
}

ul{
  list-style: none;
}